<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fav Books</title>
    <!-- CSS only -->
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>

    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
  </head>
  <body class="details">
    <!-- navbar -->
    <div
      id="navbar"
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">
        Welcome, {{this_user.first_name}}
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/fav_list">My Faves</a>
        <a class="p-2 text-dark" href="/books">Main</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Contact</a>
      </nav>
      <a class="btn btn-outline-primary" href="/">Sign out</a>
    </div>

    <!-- details -->
    <div class="details" style="padding: 25px;">
      <h2 id="details">{{this_book.title}}</h2>
      <p>
        Added by: {{this_book.uploaded_by.first_name}}
        {{this_book.uploaded_by.last_name}}
      </p>
      <p>Added on: {{this_book.created_at}}</p>
      <p>Last updated on: {{this_book.updated_at}}</p>
      <p>Description: {{this_book.desc}}</p>
      <!-- display buttons if the user has uploaded the book -->
      <!-- <h2>edit</h2>
      <p>{{this_book.uploaded_by.id}}</p>
      <p>{{request.session.user.id}}</p>
      <p>********</p> -->
      <!-- {% if this_user.id == this_book.uploaded_by.id %}
      <form action="/books/{{this_book.id}}/edit" method="POST">
        {% csrf_token %}
        <button>edit</button>
      </form>
      <form action="#" method="POST">
        {% csrf_token %}
        <button>delete</button>
      </form>
      {% endif %} -->
    </div>
    <!-- likes -->
    <div class="likes" style="padding: 25px;">
      <h2>Users Who Like This Book:</h2>

      <ul>
        {% for user in this_book.users_who_like.all %}
        <li style="list-style: none;">
          -{{user.first_name}} {{user.last_name}}
        </li>
        {% if user.id == this_user.id %}
        <a href="/books/{{this_book.id}}/unfav">Unfavorite</a>
        {% endif %} {% endfor %}
      </ul>
      {% if this_user not in this_book.users_who_like.all %}
      <a href="/books/{{this_book.id}}/fav">Add to Favorites</a>{% endif %}
    </div>
  </body>
</html>
