<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite Books</title>
    <!-- CSS only -->
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>

      <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
      <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
      <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
      <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
      <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
      <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
      <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
      <meta name="theme-color" content="#563d7c">


      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      <!-- Custom styles for this template -->
      <link href="pricing.css" rel="stylesheet">
    <!-- Custom styles for this template -->

  </head>
  <body>
    <!-- navbar -->
    <div id="navbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Welcome, {{user.first_name}}</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/fav_list">My Faves</a>
        <a class="p-2 text-dark" href="/books">Main</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Contact</a>
      </nav>
      <a class="btn btn-outline-primary" href="/">Sign out</a>
    </div>
      <!-- Form to add a fav book -->
    <div class="add">
      <h3>Add a New Favorite Book</h3><br>
      <div class="form-group">
        <form action="/books/{{user.id}}/add" method="POST">
          {% csrf_token%}
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>
        <label for="desc">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="desc" rows="3"></textarea>
        <input
          type="hidden"
          name="user_id"
          value="{{request.session.user_id}}"
        />
        <input type="hidden" name="book_id" value="{{book.id}}" /><br>
        <button type="button" class="btn btn-outline-dark">Add</button>
      </form>
    </div>
      <!-- display all books -->
      <div class="display">
        <h3>All Books</h3><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Added By</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          {% for book in all_books %}
          <tbody>
            <tr>
              <td><a href="/books/{{book.id}}">{{book.title}}</a></td>
              <td>
                {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}
              </td>
              <td>{{book.desc}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br />
    </div>

  </body>
</html>
